.catppuccin-light {
  --background: oklch(0.972 0.014 300.2);
  --foreground: oklch(0.31 0.048 292.1);
  --card: oklch(0.985 0.007 300.2);
  --card-foreground: oklch(0.31 0.048 292.1);
  --popover: oklch(0.985 0.007 300.2);
  --popover-foreground: oklch(0.31 0.048 292.1);
  --primary: oklch(0.608 0.179 283.9);
  --primary-foreground: oklch(0.985 0.008 300.5);
  --secondary: oklch(0.901 0.027 304.2);
  --secondary-foreground: oklch(0.39 0.066 292.7);
  --muted: oklch(0.932 0.017 299.6);
  --muted-foreground: oklch(0.521 0.044 293.3);
  --accent: oklch(0.897 0.056 205.4);
  --accent-foreground: oklch(0.351 0.066 216.2);
  --destructive: oklch(0.611 0.232 20.46);
  --border: oklch(0.852 0.024 298.6);
  --input: oklch(0.852 0.024 298.6);
  --ring: oklch(0.608 0.179 283.9);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.962 0.012 300.2);
  --sidebar-foreground: oklch(0.31 0.048 292.1);
  --sidebar-primary: oklch(0.608 0.179 283.9);
  --sidebar-primary-foreground: oklch(0.985 0.008 300.5);
  --sidebar-accent: oklch(0.897 0.056 205.4);
  --sidebar-accent-foreground: oklch(0.351 0.066 216.2);
  --sidebar-border: oklch(0.852 0.024 298.6);
  --sidebar-ring: oklch(0.608 0.179 283.9);
}

.catppuccin-dark {
  --background: oklch(0.214 0.03 286.2);
  --foreground: oklch(0.915 0.02 301.1);
  --card: oklch(0.247 0.029 286.7);
  --card-foreground: oklch(0.915 0.02 301.1);
  --popover: oklch(0.247 0.029 286.7);
  --popover-foreground: oklch(0.915 0.02 301.1);
  --primary: oklch(0.762 0.122 283.8);
  --primary-foreground: oklch(0.245 0.032 286.8);
  --secondary: oklch(0.333 0.043 288.9);
  --secondary-foreground: oklch(0.915 0.02 301.1);
  --muted: oklch(0.302 0.027 287.5);
  --muted-foreground: oklch(0.734 0.03 296.4);
  --accent: oklch(0.395 0.06 206.4);
  --accent-foreground: oklch(0.92 0.026 209.2);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.362 0.024 287.5);
  --input: oklch(0.362 0.024 287.5);
  --ring: oklch(0.762 0.122 283.8);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.196 0.023 286.1);
  --sidebar-foreground: oklch(0.915 0.02 301.1);
  --sidebar-primary: oklch(0.762 0.122 283.8);
  --sidebar-primary-foreground: oklch(0.245 0.032 286.8);
  --sidebar-accent: oklch(0.395 0.06 206.4);
  --sidebar-accent-foreground: oklch(0.92 0.026 209.2);
  --sidebar-border: oklch(0.362 0.024 287.5);
  --sidebar-ring: oklch(0.762 0.122 283.8);
}
