.material-light {
  --background: oklch(0.985 0.005 286.2);
  --foreground: oklch(0.258 0.019 284.5);
  --card: oklch(0.992 0.002 286.1);
  --card-foreground: oklch(0.258 0.019 284.5);
  --popover: oklch(0.992 0.002 286.1);
  --popover-foreground: oklch(0.258 0.019 284.5);
  --primary: oklch(0.515 0.19 292.6);
  --primary-foreground: oklch(0.985 0.008 286.2);
  --secondary: oklch(0.919 0.018 293.8);
  --secondary-foreground: oklch(0.372 0.036 292.2);
  --muted: oklch(0.939 0.011 286.7);
  --muted-foreground: oklch(0.47 0.021 287.4);
  --accent: oklch(0.909 0.041 162.2);
  --accent-foreground: oklch(0.287 0.039 164.8);
  --destructive: oklch(0.612 0.227 25.17);
  --border: oklch(0.868 0.015 286.9);
  --input: oklch(0.868 0.015 286.9);
  --ring: oklch(0.515 0.19 292.6);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.975 0.005 286.1);
  --sidebar-foreground: oklch(0.258 0.019 284.5);
  --sidebar-primary: oklch(0.515 0.19 292.6);
  --sidebar-primary-foreground: oklch(0.985 0.008 286.2);
  --sidebar-accent: oklch(0.909 0.041 162.2);
  --sidebar-accent-foreground: oklch(0.287 0.039 164.8);
  --sidebar-border: oklch(0.868 0.015 286.9);
  --sidebar-ring: oklch(0.515 0.19 292.6);
}

.material-dark {
  --background: oklch(0.22 0.017 286.4);
  --foreground: oklch(0.919 0.012 286.3);
  --card: oklch(0.255 0.018 286.7);
  --card-foreground: oklch(0.919 0.012 286.3);
  --popover: oklch(0.255 0.018 286.7);
  --popover-foreground: oklch(0.919 0.012 286.3);
  --primary: oklch(0.744 0.134 291.7);
  --primary-foreground: oklch(0.24 0.021 286.8);
  --secondary: oklch(0.325 0.029 292.5);
  --secondary-foreground: oklch(0.919 0.012 286.3);
  --muted: oklch(0.299 0.016 287.4);
  --muted-foreground: oklch(0.738 0.017 286.7);
  --accent: oklch(0.367 0.052 163.7);
  --accent-foreground: oklch(0.93 0.02 166.1);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.355 0.016 287.1);
  --input: oklch(0.355 0.016 287.1);
  --ring: oklch(0.744 0.134 291.7);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0.012 286.3);
  --sidebar-foreground: oklch(0.919 0.012 286.3);
  --sidebar-primary: oklch(0.744 0.134 291.7);
  --sidebar-primary-foreground: oklch(0.24 0.021 286.8);
  --sidebar-accent: oklch(0.367 0.052 163.7);
  --sidebar-accent-foreground: oklch(0.93 0.02 166.1);
  --sidebar-border: oklch(0.355 0.016 287.1);
  --sidebar-ring: oklch(0.744 0.134 291.7);
}
